.deps
.libs
*.lib
*.pdb
*.dll
*.exe
*.obj
.*.swp
Debug
Release
*.exp
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
libtool
ltmain.sh
compile
missing
install-sh
*.o
*.lo
*.la
*.gcno
*.gcda
*.gcov
mkinstalldirs
tags
TAGS
*~
aclocal.m4.bak
ar-lib
.dirstamp
config.h
config.h.in
libhsk.pc
hsk-*.tar.gz
hsk-*.tar.gz.asc
hnsd
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
src/stamp-h1
test_hnsd
integration/node_modules/
